.background-gradient{
  background-image: url("./images/background_gradient.png");
  background-size: 1920px 1020px;
  background-repeat: no-repeat;
  width: 101%;
  margin: -10px;
  height: 1020px;
  margin-top: 0px;
  position: relative;
}

.gray-background-overlap{
  background-image: url("./images/gray-background-overlap.png");
  background-repeat: no-repeat;
  height: 990px;
  margin-right: 30px;
  top: 30px;
  margin-left: 30px;
  margin-bottom: 0px;
  position: relative;
}
